div.ddblock {
    width: 250px;
    padding: 10px;
    float: left;
    min-height: 350px;
    _height: 350px
}

.ddtable td,#ddtable td {
    width: 20%;
    vertical-align: top;
    padding: 20px;
    text-align: center
}

.ddtable tr.alt,#ddtable tr.alt {
    background-color: #ccd7cc
}

div.ddinfo {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding-top: 10px
}

b.filmtime {
    display: none
}

div.ddinfo a {
    text-decoration: underline
}

div.ddinfo div.foot {
    font-style: italic;
    font-size: 8pt
}

div.iehh {
    margin: 0 -15px
}

div.popup2 {
    border-top: 0 none !important
}

div.dailyDevNav {
    width: 100%;
    height: 30px;
    position: relative;
    text-align: center
}

#dailyDevs .no_dds_found {
    margin: 30px;
    font-family: verdana,arial,sans-serif;
    text-align: center;
    font-size: 9pt
}

#dailyDevs .daily_dev_page,#dailyDevTopNav {
    margin: -7px -15px 12px;
    background-color: #e4eae3;
    border-bottom: 1px solid #bac7bb;
    border-top: 1px solid #f8faf8;
    margin-top: -7px;
    padding: 7px 15px
}

#dailyDevs .daily_dev_page {
    margin-top: 0;
    padding: 7px 15px
}

#dailyDevs #dailyDevTopNav .dailyDevNextButton,#dailyDevs #dailyDevTopNav .dailyDevPrevButton {
    top: 11px
}

#dailyDevBottomNav {
    margin: 0 -15px -7px;
    background-color: #ccd7cc;
    padding: 0 15px 10px;
    border-top: 10px solid #ccd7cc
}

div.dailyDevNav a.dailyDevPrevButton {
    display: block;
    width: 90px;
    height: 21px;
    position: absolute;
    top: 4px;
    left: 15px;
    background: transparent url(/web/20151201061046im_/http://st.deviantart.net/minish/main/dd_buttons.gif) no-repeat scroll 0 0
}

div.dailyDevNav a.dailyDevPrevButton:active {
    background: transparent url(/web/20151201061046im_/http://st.deviantart.net/minish/main/dd_buttons.gif) no-repeat scroll 0 -22px
}

div.dailyDevNav a.dailyDevNextButton {
    display: block;
    width: 90px;
    height: 21px;
    position: absolute;
    top: 4px;
    right: 15px;
    background: transparent url(/web/20151201061046im_/http://st.deviantart.net/minish/main/dd_buttons.gif) no-repeat scroll -151px 0
}

div.dailyDevNav a.dailyDevNextButton:active {
    background: transparent url(/web/20151201061046im_/http://st.deviantart.net/minish/main/dd_buttons.gif) no-repeat scroll -151px -22px
}

div.dailyDevNav span.dailyDevCurDate {
    position: relative;
    margin: auto;
    padding: 0 67px 0 0;
    color: #414d4c;
    font-size: 13pt;
    line-height: 30px;
    font-weight: bold
}

div.dailyDevNav a.dailyDevPickButton {
    display: block;
    width: 61px;
    height: 21px;
    position: absolute;
    _position: static;
    top: 0;
    right: 0;
    background: transparent url(/web/20151201061046im_/http://st.deviantart.net/minish/main/dd_buttons.gif) no-repeat scroll -90px 0
}

div.dailyDevNav a.dailyDevPickButton:active {
    background: transparent url(/web/20151201061046im_/http://st.deviantart.net/minish/main/dd_buttons.gif) no-repeat scroll -90px -22px
}

div.ddInfoBorders {
    margin: 0 0 0 -20px;
    padding: 0 20px;
    border-left: 1px dotted #9eb1a2
}

#dailyDevs #ddtable .huge {
    width: 330px
}

#dailyDevs #ddtable .unprocessed .huge {
    visibility: hidden
}

.today-page .page-results,.todaymobile-page .page-results {
    background: inherit;
    padding: 0 0 0 180px
}

.today-page .bubbleview .inline-catalog,.todaymobile-page .bubbleview .inline-catalog,.today-page .bubbleview .inline-catalog .clogs,.todaymobile-page .bubbleview .inline-catalog .clogs {
    height: auto
}

.today-page .bubbleview .inline-catalog .smbutton,.todaymobile-page .bubbleview .inline-catalog .smbutton {
    display: none
}

.today-page .roomlayouteditor .loading,.todaymobile-page .roomlayouteditor .loading {
    width: 100%;
    height: 100px;
    background: url('/web/20151201061046im_/http://st.deviantart.net/minish/admin/footballer_fella__sports__by_ehsan_m-d7x3umj.gif') center center no-repeat
}

.today-page .the-end-of-the-day,.todaymobile-page .the-end-of-the-day {
    width: 100%;
    padding-top: 266px;
    padding-bottom: 86px;
    background: url('/web/20151201061046im_/http://st.deviantart.net/minish/icons/layer-400.png') center 130px no-repeat;
    font-size: 11px;
    font-family: Verdana,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #9aa198;
    text-align: center
}

.today-page .days-separator,.todaymobile-page .days-separator {
    border: 1px solid #adbdaf;
    background: #dbe4d7;
    background: #e2eade;
    background: -webkit-linear-gradient(top, #e2eade, #e2ebe0);
    background: -moz-linear-gradient(top, #e2eade, #e2ebe0);
    background: linear-gradient(top, #e2eade, #e2ebe0);
    box-shadow: 0 1px 0 rgba(255,255,255,0.5),0 1px 0 rgba(0,0,0,0.3),1px 1px 1px #fff inset;
    border-left: none;
    border-right: none;
    padding: 7px 0;
    margin-bottom: 42px
}

.ie.eq9 .today-page .days-separator,.ie.eq9 .todaymobile-page .days-separator {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyZWFkZSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTJlYmUwIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+)
}

.ie.lt9 .today-page .days-separator,.ie.lt9 .todaymobile-page .days-separator {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2eade', endColorstr='#e2ebe0', GradientType=0)
}

.ie.eq9 .today-page .days-separator,.ie.eq9 .todaymobile-page .days-separator {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyZWFkZSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTJlYmUwIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+)
}

.ie.lt9 .today-page .days-separator,.ie.lt9 .todaymobile-page .days-separator {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2eade', endColorstr='#e2ebe0', GradientType=0)
}

.today-page #gmi-GPage .ppp.previous-day-date,.todaymobile-page #gmi-GPage .ppp.previous-day-date {
    text-align: right;
    font: bold 15px Trebuchet MS,sans-serif
}

.today-page #gmi-GPage .ppp.previous-day-date {
    padding: 14px 20px
}

.todaymobile-page .the-end-of-the-day {
    background-image: url('/web/20151201061046im_/http://st.deviantart.net/minish/icons/peace-2x.png');
    background-size: 50px
}

.todaymobile-page #gmi-GPage .ppp.previous-day-date {
    padding: 14px 17px
}

#dailyDevs .daily_dev_loading {
    background-image: url("/web/20151201061046im_/http://st.deviantart.net/minish/bears/spinner.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    -webkit-animation: processing-spinner .8s linear infinite;
    animation: processing-spinner .8s linear infinite;
    height: 30px;
    width: 30px;
    margin: 40px auto
}

#dailyDevs .daily_dev_error {
    height: 30px;
    margin: 40px auto 20px auto;
    text-align: center
}

#dailyDevs .load_more {
    padding: 30px 0;
    text-align: center
}

#dailyDevs .load_more a {
    font-size: 14px;
    height: 20px;
    margin: 0;
    padding: 8px 40px;
    font-family: Verdana,Geneva,sans-serif;
    display: inline-block;
    position: relative;
    zoom:1;color: #19689c;
    text-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5),0 1px 0 rgba(0,0,0,0.3),inset 0 1px 0 #fff,inset 1px 0 0 rgba(255,255,255,0.2),inset -1px 0 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(255,255,255,0.2)
}

#dailyDevs .load_more a:hover {
    box-shadow: inset 0 0 200px rgba(255,255,255,0.4),0 1px 0 rgba(255,255,255,0.5),0 1px 0 rgba(0,0,0,0.3),inset 0 1px 0 #fff,inset 1px 0 0 rgba(255,255,255,0.2),inset -1px 0 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(255,255,255,0.2)
}

#dailyDevs div.tt-a {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0
}

#dailyDevs div.stream div.huge {
    margin-bottom: 20px
}

#dailyDevs div.dd-usericon {
    display: none
}

#dailyDevs .grbubbletip.watcher {
    display: none
}

#dailyDevs .dd-page-watch-button {
    position: relative;
    display: inline-block;
    height: 26px;
    padding: 0 9px;
    margin-bottom: 6px;
    font: bold 12px/24px Verdana,sans-serif;
    color: #337287;
    text-shadow: 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fcfdfc;
    background: #e5ece3;
    background: -webkit-linear-gradient(top, #e5ece3, #d9e4d7);
    background: -moz-linear-gradient(top, #e5ece3, #d9e4d7);
    background: linear-gradient(top, #e5ece3, #d9e4d7);
    border: 1px solid #9cad9c;
    border-radius: 4px
}

.ie.eq9 #dailyDevs .dd-page-watch-button {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZWNlMyIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDllNGQ3IiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+)
}

.ie.lt9 #dailyDevs .dd-page-watch-button {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ece3', endColorstr='#d9e4d7', GradientType=0)
}

#dailyDevs .dd-page-watch-button.green {
    color: #435f13;
    text-shadow: 0 1px 0 #eaf2ee;
    border-color: #8bb542;
    box-shadow: inset 0 1px 0 #dff581;
    background: #e8fb93;
    background: -webkit-linear-gradient(top, #e8fb93, #c2ed6d);
    background: -moz-linear-gradient(top, #e8fb93, #c2ed6d);
    background: linear-gradient(top, #e8fb93, #c2ed6d)
}

.ie.eq9 #dailyDevs .dd-page-watch-button.green {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZmI5MyIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzJlZDZkIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+)
}

.ie.lt9 #dailyDevs .dd-page-watch-button.green {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8fb93', endColorstr='#c2ed6d', GradientType=0)
}

#dailyDevs .dd-page-watch-button:hover {
    text-decoration: none
}

#dailyDevs .dd-page-watch-button i.icon {
    background-image: url(/web/20151201061046im_/http://st.deviantart.net/minish/gruzecontrol/icons-gruser.gif?38);
    left: 6px;
    top: 2px;
    position: absolute;
    width: 40px
}

#dailyDevs .dd-page-watch-button span {
    font-size: 12px;
    padding-left: 20px;
    letter-spacing: 0;
    line-height: 26px
}

@font-face {
    font-family: 'feedfont';
    src: url('/web/20151201061046im_/http://st.deviantart.net/fonts/feed/icons.eot');
    src: url('/web/20151201061046im_/http://st.deviantart.net/fonts/feed/icons.eot#iefix') format('embedded-opentype'),url('/web/20151201061046im_/http://st.deviantart.net/fonts/feed/icons.woff') format('woff'),url('/web/20151201061046im_/http://st.deviantart.net/fonts/feed/icons.ttf') format('truetype'),url('/web/20151201061046im_/http://st.deviantart.net/fonts/feed/icons.svg') format('svg')
}

body.today-page {
    color: #2c3635
}

body.today-page .moduleclear {
    clear: both
}

body.today-page .gruser-page-v7.testpage {
    background-image: url(/web/20151201061046im_/http://st.deviantart.net/icons/gm/today/construction.png);
    background-repeat: repeat-y;
    background-size: 10px;
    padding-left: 5px
}

body.today-page .load_more {
    padding: 30px 0;
    text-align: center
}

body.today-page .load_more a {
    font-size: 14px;
    height: 20px;
    margin: 0;
    padding: 8px 40px;
    font-family: Verdana,Geneva,sans-serif;
    display: inline-block;
    position: relative;
    zoom:1;color: #19689c;
    text-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5),0 1px 0 rgba(0,0,0,0.3),inset 0 1px 0 #fff,inset 1px 0 0 rgba(255,255,255,0.2),inset -1px 0 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(255,255,255,0.2)
}

body.today-page .load_more a:hover {
    box-shadow: inset 0 0 200px rgba(255,255,255,0.4),0 1px 0 rgba(255,255,255,0.5),0 1px 0 rgba(0,0,0,0.3),inset 0 1px 0 #fff,inset 1px 0 0 rgba(255,255,255,0.2),inset -1px 0 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(255,255,255,0.2)
}

body.today-page .gruser-page-v7 {
    max-width: 1234px;
    margin: auto
}

body.today-page #output .todayframe {
    margin: 0;
    display: inline-block;
    width: 100%;
    vertical-align: top
}

body.today-page #output .bubbleview {
    padding: 0 0 0 0;
    background-color: #d4dfd0
}

body.today-page .today_module {
    margin-bottom: 40px
}

body.today-page .today_module a {
    color: #337287;
    text-decoration: none
}

body.today-page .today_module .tag a:hover {
    text-decoration: underline
}

body.today-page .ppp {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1234px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body.today-page .today_module.partial .subtitle {
    display: none
}

body.today-page .today-header {
    box-sizing: border-box;
    max-width: 1234px;
    margin: 0 auto;
    padding: 0 17px;
    overflow: hidden;
    height: 42px
}

body.today-page .today-header .featuredtags-widget {
    line-height: 42px;
    padding: 0;
    color: inherit
}

body.today-page .today-header .today-date {
    line-height: 42px;
    font-weight: bold;
    float: right;
    font-family: Trebuchet MS,sans-serif;
    font-size: 24px;
    letter-spacing: -1px
}

body.today-page .today_module .icon {
    position: relative;
    display: inline-block;
    font-family: 'feedfont';
    font-style: normal;
    line-height: 1;
    font-size: 18px;
    margin-top: -3px;
    top: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body.today-page .today_module .icon.fave:before {
    content: "\e61f"
}

body.today-page .today_module .icon.comment:before {
    content: "\e61e"
}

body.today-page .today_module .icon.messages:before {
    content: "\e623"
}

body.today-page .today_module .icon.view:before {
    content: "\e631"
}

body.today-page .today_module .icon.forward:before {
    content: "\e61b";
    position: relative;
    top: 3px;
    font-size: 25px;
    margin-left: -5px
}

body.today-page .shinyheader {
    background: #dbe4d7;
    background: -webkit-linear-gradient(top, #dbe4d7, #d5e0d1);
    background: -moz-linear-gradient(top, #dbe4d7, #d5e0d1);
    background: linear-gradient(top, #dbe4d7, #d5e0d1);
    border: 1px solid #adbdaf;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5),0 1px 0 rgba(0,0,0,0.3),0 1px 0 #ecf1eb inset;
    border-left: none;
    border-right: none;
    padding: 15px 0;
    margin: 0 0 30px 0;
    z-index: 1;
    position: relative
}

.ie.eq9 body.today-page .shinyheader {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZTRkNyIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDVlMGQxIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+)
}

.ie.lt9 body.today-page .shinyheader {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe4d7', endColorstr='#d5e0d1', GradientType=0)
}

body.today-page .shinyheader .headercontent {
    margin: 0 auto;
    position: relative;
    padding-left: 17px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body.today-page .shinyheader .headercontent:after {
    content: ' ';
    display: block;
    background: #d5e0d1;
    width: 20px;
    height: 20px;
    position: absolute;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: -26px;
    left: 20px;
    border: 1px solid #adbdaf;
    border-top: none;
    border-left: none;
    z-index: 1
}

body.today-page .shinyheader h1,body.today-page .shinyheader .h1 {
    color: #414d4c;
    margin: 0;
    font: bold 28px Trebuchet MS,sans-serif;
    letter-spacing: -1px
}

body.today-page .shinyheader .subtitle {
    font-size: 12px
}

body.today-page .shinyheader .headerlinks {
    float: right;
    margin: 0;
    line-height: 30px;
    height: 30px
}

body.today-page .shinyheader.with-sub .headerlinks {
    position: relative;
    top: 5px
}

body.today-page .shinyheader .headerlink {
    display: inline-block;
    list-style-type: none;
    font: bold 15px Trebuchet MS,sans-serif;
    margin-right: 15px
}

body.today-page .shinyheader.sponsored .headlines {
    margin-right: 420px;
    min-height: 50px;
    height: auto
}

body.today-page .shinyheader.sponsored:not(.with-sub) .headerlinks,body.today-page .shinyheader.sponsored:not(.with-sub) h1 {
    line-height: 50px
}

body.today-page .shinyheader-fullwidth {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 0
}

body.today-page .shinyheader-fullwidth .headercontent {
    visibility: hidden;
    max-width: 1234px
}

body.today-page h1.headline {
    margin-bottom: 10px
}

body.today-page .videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0
}

body.today-page .videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

body.today-page .today_module_support_ad .videowrapper {
    margin-right: 305px
}

body.today-page .sponsorship-logo {
    float: right;
    width: 400px;
    height: 50px
}

body.today-page .sponsorship-300x600 {
    float: right;
    width: 300px;
    height: 600px
}

body.today-page .modulebody {
    font-family: 'Trebuchet MS',Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 150%;
    padding-top: 10px
}

body.today-page .today_module .artist {
    font-size: 11px
}

body.today-page .today_module .artist a {
    color: #6a7f6d
}

body.today-page .today_module .artist .avatar {
    width: 16px;
    height: 16px;
    position: relative;
    top: -1px
}

body.today-page .today_module .artist .user-symbol {
    display: none
}

body.today-page .today_module .today-sponsor-logo {
    width: 400px;
    height: 50px;
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -25px
}

body.today-page .title {
    font-size: 15px;
    font-family: 'Trebuchet MS',Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin: 10px 0
}

body.today-page .title a {
    color: inherit
}

body.today-page .title a:hover {
    color: #196ba7
}

body.today-page .stats {
    float: right;
    font-size: 11px;
    color: #6a7f6d
}

body.today-page .stats a {
    color: #6a7f6d
}

body.today-page .stats .commentcount,body.today-page .stats .viewcount,body.today-page .stats .favcount,body.today-page .stats .votecount {
    margin-left: 5px
}

body.today-page .tags {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 15px
}

body.today-page .tags a {
    color: #337287;
    font-size: 11px
}

body.today-page .tt-crop.lit .shadow {
    padding: 0
}

body.today-page .today_module_journals .squareTodayad {
    margin-top: 40px
}

body.today-page .today-leaderboard-adframe {
    margin: 15px 0;
    text-align: center
}

body.today-page .today-paginated-no-content {
    margin: 30px;
    font-family: verdana,arial,sans-serif;
    text-align: center;
    font-size: 9pt
}

body.today-page .today-pagination {
    margin: auto;
    width: 550px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 18px
}

body.today-page .today-pagination .btn {
    background: #d7e2d4;
    background: -webkit-linear-gradient(center top, #e3ebe2, #c7d5c0);
    background: -moz-linear-gradient(center top, #e3ebe2, #c7d5c0);
    background: linear-gradient(center top, #e3ebe2, #c7d5c0);
    border: 1px solid #bac5ba;
    border-radius: 7px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5),0 1px 0 rgba(0,0,0,0.3),0 1px 0 #fff inset,1px 0 0 rgba(255,255,255,0.2) inset,-1px 0 0 rgba(255,255,255,0.2) inset,0 -1px 0 rgba(255,255,255,0.2) inset;
    color: #849b84;
    width: 75px;
    text-decoration: none;
    height: 13px;
    padding: 2px 6px;
    display: inline-block;
    margin-right: 8px;
    text-align: center;
    font-size: 11px
}

body.today-page .today-pagination .today-pagination-current .dailyDevNextButton,body.today-page .today-pagination .today-pagination-current .dailyDevPrevButton {
    top: 15px
}

body.today-page .today-pagination .today-pagination-current .today-date {
    margin: 30px;
    font-family: verdana,arial,sans-serif;
    text-align: center;
    font-size: 9pt;
    font-weight: bold
}

body.today-page .today-pagination .today-pagination-calendar a {
    margin-top: 15px
}

body.today-page .ui-widget-content .ui-datepicker-days-cell-over {
    opacity: 1
}

body.today-page .ui-widget-content .ui-datepicker-days-cell-over span.ui-state-default,body.today-page .ui-widget-content .ui-datepicker-days-cell-over a {
    color: #000
}

body.today-page .ui-widget-content .ui-datepicker-current-day {
    border: 1px solid #f7590a
}

body.today-page .ui-widget-content .ui-datepicker-today {
    border: 1px solid #fcf1ab
}

body.today-page .resize-handle-wrapper {
    display: none
}

body.todaymobile-page .today-header .today-date {
    font-size: 11px;
    color: #363d36;
    letter-spacing: -1px
}

body.todaymobile-page .today-header .featuredtags-widget {
    padding-top: 0
}

body.todaymobile-page .gruser-page-v7 {
    font-weight: lighter;
    font-size: 18px;
    line-height: 20px
}

body.todaymobile-page .gruser-page-v7 .today_module,body.todaymobile-page .gruser-page-v7 .todaymobile_zone,body.todaymobile-page .gruser-page-v7 .todaymobilerc_zone {
    clear: both
}

body.todaymobile-page .gruser-page-v7 .today_module {
    padding-bottom: 50px;
    position: relative
}

body.todaymobile-page .gruser-page-v7 h1 {
    font-weight: bold;
    font-size: 50px
}

body.todaymobile-page .gruser-page-v7 h2 {
    font-weight: bold;
    font-size: 27px
}

body.todaymobile-page .gruser-page-v7 h2.date {
    font-size: 25px
}

body.todaymobile-page .gruser-page-v7 h3 {
    font-weight: normal;
    font-size: 13px
}

body.todaymobile-page .gruser-page-v7 .tags {
    font-weight: normal;
    font-size: 15px
}

body.todaymobile-page .gruser-page-v7 .cover {
    position: relative;
    margin-top: -15px
}

body.todaymobile-page .gruser-page-v7 .cover.fakeimg {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 25% 25%
}

body.todaymobile-page .gruser-page-v7 .cover img {
    width: 100%;
    height: auto
}

body.todaymobile-page .gruser-page-v7 .cover .shadow {
    padding: 0
}

body.todaymobile-page .gruser-page-v7 .cover .title {
    font-weight: bold;
    font-size: 25px
}

body.todaymobile-page .gruser-page-v7 .cover .artist {
    font-size: 13px
}

body.todaymobile-page .gruser-page-v7 .cover .artist .avatar {
    top: 3px
}

body.todaymobile-page .today-module-mobilejournal .artist {
    margin-left: 20px
}

body.todaymobile-page .today-module-mobilejournal .artist .avatar {
    top: 4px
}

body.todaymobile-page .today-module-mobilejournal .excerpt {
    padding: 12px 28px
}

body.todaymobile-page .today-module-mobilejournal .cover {
    padding: 0 17px
}

body.todaymobile-page .today-module-mobilejournal .shinyheader {
    border: 0;
    background: none;
    box-shadow: none;
    padding: 0
}

body.todaymobile-page .today-module-mobilejournal .shinyheader .headercontent:after {
    display: none
}

body.todaymobile-page .today-module-mobilejournal .more {
    float: right;
    margin-right: 20px
}

body.todaymobile-page .today-module-mobilevideo .summary {
    padding: 8px
}

body.todaymobile-page .today-module-mobileartist .contents {
    padding: 30px 0 0 10px
}

body.todaymobile-page .today-module-mobileartist .excerpt {
    padding: 10px;
    text-align: justify;
    max-height: 50px;
    line-height: 20px;
    overflow: hidden
}

body.todaymobile-page .today-module-mobileartist .summary {
    font-weight: normal;
    font-size: 14px;
    padding-top: 20px
}

body.todaymobile-page .today-module-mobileartist .today-module-mobilecollection,body.todaymobile-page .today-module-mobileartist .today-module-mobileexplore,body.todaymobile-page .today-module-mobileartist .today-module-mobilejournal {
    padding-bottom: 40px
}

body.todaymobile-page .today-module-mobileartist .today-module-mobilevideo .cover {
    padding-top: 15px
}

body.todaymobile-page .today-module-mobileartist .today-module-mobileartist .contents {
    padding: 30px 0 0 10px
}

body.todaymobile-page .today-module-mobileartist .today-module-mobileartist .contents .artist {
    padding-top: 2px;
    white-space: nowrap
}

body.todaymobile-page .today-module-mobileartist .today-module-mobileartist .contents .artist .username-with-symbol .username {
    overflow: hidden;
    display: inline-block;
    height: 25px;
    padding-top: 2px;
    vertical-align: top;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff
}

body.todaymobile-page .today-module-mobileartist .today-module-mobileartist .contents .artist .username-with-symbol .user-symbol {
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
    margin-top: -3px
}

body.todaymobile-page .today-module-mobileartist .today-module-mobileartist .contents .artist .actions {
    padding-top: 10px
}

body.todaymobile-page .today-module-mobileartist .today-module-mobileartist .contents .artist .actions .watch,body.todaymobile-page .today-module-mobileartist .today-module-mobileartist .contents .artist .actions .message {
    vertical-align: top
}

body.todaymobile-page .today-module-mobileartist .today-module-mobileartist .contents .artist .actions a:hover {
    text-decoration: none
}

body.todaymobile-page .today-module-mobileartist .today-module-mobileartist .contents .artist .actions .grbubbletip.watcher {
    display: none
}

body.todaymobile-page .today-module-mobileartist .today-module-mobileartist .contents .artist .actions .watch {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    color: #fff;
    background-color: #02d150
}

body.todaymobile-page .today-module-mobileartist .today-module-mobileartist .contents .artist .actions .message {
    display: inline-block;
    font-family: usersymbol-icons;
    font-size: 30px;
    color: #fff;
    padding: 10px 20px 10px 20px;
    background-color: #0e7ba5
}

body.todaymobile-page .today-module-mobileartist .today-module-mobileartist .contents .artist .avatar {
    padding-left: 10px;
    height: 50px;
    width: auto;
    margin-top: -3px;
    vertical-align: top;
    border: 1px solid #d0d6d4
}

body.todaymobile-page .today-module-mobileartist .more {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    float: right
}

body.todaymobile-page .today-module-mobileartist .more:after {
    content: '>';
    margin-left: 5px
}

body.todaymobile-page .today-module-mobileartist .deviations {
    text-align: center;
    margin-top: -5px
}

body.todaymobile-page .today-module-mobileartist .deviations .grid-thumb {
    display: inline-block
}

body.todaymobile-page .today-module-mobileartist .deviations .tt-a {
    display: inline-block;
    margin: 0
}

body.todaymobile-page .today-module-mobileartist .deviations .tt-a .shadow {
    padding: 0
}

body.todaymobile-page .today-module-mobileartist .deviations .tt-a .tt-bb {
    display: none
}

body.todaymobile-page .today-module-mobileartist .artist {
    font-size: 11px
}

body.todaymobile-page .today-module-mobileartist .artist .avatar {
    width: 16px;
    height: 16px;
    position: relative;
    top: -1px
}

body.todaymobile-page .today-module-mobileartist .artist .user-symbol {
    display: none
}

#gmi-GPage .ppp.alert-module {
    padding: 5px
}

.grid-module {
    margin: 20px auto
}

.grid-module .grid-layout {
    padding: 2px
}

.grid-module .grid-layout .stream {
    text-align: left
}

.grid-module .grid-layout .stream .tt-fh {
    margin: 0
}

.grid-module .info {
    margin: 10px 0
}

.grid-module .info h1 {
    margin: 10px 0 5px;
    font-size: 24px
}

.grid-module .info .credit {
    font-size: 12px
}

.grid-module .info .credit .user-symbol {
    display: none
}

.grid-module .info .credit a {
    color: #6a7f6d
}

.grid-module .grid-thumb {
    display: inline-block;
    margin: 0 10px 16px 0;
    position: relative
}

.grid-module .grid-thumb .title {
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.grid-module .grid-thumb .tt-crop,.grid-module .grid-thumb .tt-crop-lit {
    margin: 0
}

.grid-module .grid-thumb .tall .count {
    display: none
}

.grid-module .grid-thumb .tt-fh.tt-boxed .tt-bb {
    background: transparent
}

.grid-module .grid-thumb.square {
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    position: relative
}

.grid-module .grid-thumb.square .tt-crop,.grid-module .grid-thumb.square .tinythumb {
    width: 100px;
    height: 100px;
    margin: 0
}

.grid-module .grid-thumb.square .tt-crop a.lit,.grid-module .grid-thumb.square .tinythumb a.lit {
    width: 100px;
    height: 100px
}

.grid-module .grid-thumb.square .overlay {
    position: absolute;
    background-color: #fff;
    height: 35px;
    bottom: 0;
    padding: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    color: #8c9a88;
    width: 100%;
    font-size: 10px;
    text-align: left
}

.grid-module .grid-thumb.square .overlay .stat {
    display: none
}

.grid-module .grid-thumb.square .overlay .icon {
    font-size: 13px;
    display: inline-block;
    position: relative;
    margin-top: -3px;
    top: 2px
}

.grid-module .grid-thumb.uniform {
    width: 280px;
    height: 250px
}

.grid-module .grid-thumb.uniform .tt-crop,.grid-module .grid-thumb.uniform .tinythumb {
    width: 280px;
    height: 200px
}

.grid-module .grid-thumb.uniform .tt-crop a.lit,.grid-module .grid-thumb.uniform .tinythumb a.lit {
    width: 280px;
    height: 200px
}

.grid-module .grid-thumb.uniform .tt-crop a.lit q,.grid-module .grid-thumb.uniform .tinythumb a.lit q {
    width: 250px;
    padding: 10px;
    font-size: 12px
}

.grid-module .grid-thumb.square.xl {
    width: 220px;
    height: 220px
}

.grid-module .grid-thumb.square.xl .tt-crop a.lit,.grid-module .grid-thumb.square.xl .tt-crop,.grid-module .grid-thumb.square.xl .tinythumb {
    width: 220px;
    height: 220px
}

.grid-module .grid-thumb.square.xl .comment-stat {
    display: block
}

.grid-module .grid-thumb.square.xl q {
    padding: 5px;
    font-size: 100%;
    width: 200px
}

.grid-module .grid-thumb.square.xxl {
    width: 340px;
    height: 340px
}

.grid-module .grid-thumb.square.xxl .tt-crop a.lit,.grid-module .grid-thumb.square.xxl .tt-crop,.grid-module .grid-thumb.square.xxl .tinythumb {
    width: 340px;
    height: 340px
}

.grid-module .grid-thumb.square.xxl .fave-stat {
    display: block
}

.grid-module .grid-thumb.square.xxl q {
    padding: 15px;
    font-size: 15px;
    width: 300px
}

.grid-module .grid-layout-default,.grid-module .grid-layout-default .stream {
    text-align: left
}

.grid-module .grid-layout-uniform {
    max-height: 530px
}

.grid-module .grid-layout-uniform .stream {
    text-align: left
}

.grid-module .grid-layout-uniform .grid-thumb.uniform {
    margin: 0 0 30px 27px;
    float: left
}

.grid-module .grid-layout-uniform .grid-layout-inner {
    margin-left: -28px
}

.grid-module .grid-layout-16 {
    max-height: 350px;
    overflow: hidden;
    padding: 1px
}

.grid-module .grid-layout-16 .grid-thumb.square,.grid-module .grid-layout-16 .grid-thumb.square.xl,.grid-module .grid-layout-16 .grid-thumb.square.xxl {
    float: left;
    margin: 0 20px 20px 0
}

.grid-module .grid-layout-16 .grid-thumb.square .tt-crop,.grid-module .grid-layout-16 .grid-thumb.square.xl .tt-crop,.grid-module .grid-layout-16 .grid-thumb.square.xxl .tt-crop {
    position: absolute
}

.grid-module .grid-layout-16 .column {
    display: inline-block;
    width: 120px
}

.grid-module .grid-layout-16 .column.double {
    width: 240px
}

.grid-module .grid-layout-16 .column.triple {
    width: 360px
}

.grid-module .grid-layout-16 .column.last {
    width: 100px
}

.grid-collection {
    margin-top: 20px
}

.today_module_dailydevgrid.today_module_support_ad .squareTodayad {
    margin-left: 0;
    margin-bottom: 28px;
    margin-right: -4px
}

.today_module_dailydevgrid.today_module_support_ad .grid-thumb:last-of-type {
    display: none
}

@media (max-width: 1259px) {
    .today_module_dailydevgrid.today_module_support_ad .squareTodayad {
        margin-right:18px
    }
}

.today_module_dailydevgrid.today_module_support_ad.today_module_dailydevgrid_count_4 .grid-layout {
    max-height: 260px
}

.shinyheader .feed_view_select {
    position: relative;
    display: inline-block
}

.shinyheader .feed_view_select select#current_mode {
    display: none
}

.shinyheader .feed_view_select .select_pager {
    background: #2c3635;
    color: #fff;
    font: bold 28px Trebuchet MS,sans-serif;
    text-transform: uppercase;
    border-radius: 3px 0 0 3px;
    position: absolute;
    top: -33px;
    margin-left: .5em;
    height: 45px;
    width: 220px
}

.shinyheader .feed_view_select .select_pager .text {
    max-width: none;
    max-height: none
}

.shinyheader .feed_view_select .select_pager .button {
    height: 45px;
    background: #2c3635;
    color: #fff;
    border-radius: 0 3px 3px 0
}

.shinyheader .feed_view_select .select_pager .button:after {
    content: '\0025BE';
    position: absolute;
    top: 3px
}

.today-page div.popup2-select_pager {
    width: 245px;
    background: #2c3635;
    color: #fff;
    font: bold 28px Trebuchet MS,sans-serif;
    text-transform: uppercase;
    border: none
}

.today-page div.popup2-select_pager div.page2 {
    overflow: auto !important
}

.today-page div.popup2-select_pager .option {
    color: #fff;
    padding: 7px 7px 7px 20px
}

.today-page div.popup2-select_pager .selected {
    background-color: #8c9a88;
    color: #fff
}

.today-page div.popup2-select_pager .hover {
    background-color: #337287;
    color: #fff
}

@media (max-width: 1235px) {
    .grid-layout-16 .column:nth-child(4) {
        display:none
    }
}

.journalmodule .journals {
    margin: 30px 0
}

.journalmodule .journals-inner {
    margin-left: -20px
}

.journalmodule .journal {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 0 0 10px 20px;
    position: relative;
    vertical-align: top
}

.journalmodule .journal .tomorrow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    right: 0;
    background-color: #ecb315;
    opacity: .4;
    z-index: 2
}

.journalmodule .journal:hover .tomorrow {
    display: none
}

.journalmodule .journal .preview .credit {
    text-align: right;
    font-size: smaller;
    color: #6a7f6d;
    margin-top: 3px
}

.journalmodule .journal .preview .credit .username {
    color: #6a7f6d
}

.journalmodule .journal .preview .credit .user-symbol {
    display: none
}

.journalmodule .journal .preview-image {
    box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 0 1px rgba(0,0,0,0.15);
    border-radius: 4px
}

.journalmodule .journal .preview-image .tinythumb {
    border-radius: 4px
}

.journalmodule .journal .title {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -1px;
    margin: 0
}

.journalmodule .journal .info {
    margin: 5px 0;
    line-height: 20px;
    border-bottom: 1px dotted #c2cfc1;
    padding-bottom: 5px
}

.journalmodule .journal .artist {
    font-size: 10px
}

.journalmodule .journal .artist img.avatar {
    top: 3px
}

.journalmodule .journal .artist .username:before {
    content: "by "
}

.journalmodule .journal .summary {
    font-size: 13px;
    line-height: 22px;
    overflow: hidden
}

.journalmodule .header {
    font: 20px 'Trebuchet MS',Arial,Helvetica,sans-serif;
    font-weight: bold
}

.journalmodule .stats {
    font-size: 10px
}

.journalmodule.layout-0 .tinythumb,.journalmodule.layout-1 .tinythumb,.journalmodule.layout-2 .tinythumb,.journalmodule.layout-3 .tinythumb,.journalmodule.module-width-100 .tinythumb,.journalmodule.partial .tinythumb {
    background-position: center;
    background-size: cover;
    display: block;
    height: 0;
    margin: 0;
    width: 100%
}

.journalmodule.layout-0 .journal,.journalmodule.module-width-100 .journal,.journalmodule.module-width-75 .journal,.journalmodule.module-width-66 .journal {
    width: 100%
}

.journalmodule.layout-0 .journal .tinythumb,.journalmodule.module-width-100 .journal .tinythumb,.journalmodule.module-width-75 .journal .tinythumb,.journalmodule.module-width-66 .journal .tinythumb {
    padding: 15% 0
}

.journalmodule.layout-0 .journal .title,.journalmodule.module-width-100 .journal .title,.journalmodule.module-width-75 .journal .title,.journalmodule.module-width-66 .journal .title {
    font-size: 28px;
    line-height: 34px
}

.journalmodule.layout-0 .journal .summary,.journalmodule.module-width-100 .journal .summary,.journalmodule.module-width-75 .journal .summary,.journalmodule.module-width-66 .journal .summary {
    font-size: 16px;
    line-height: 24px;
    width: 61.8%;
    max-height: 76px
}

.journalmodule.layout-1 .journal,.journalmodule.module-width-50 .journal {
    width: 50%;
    min-height: 390px
}

.journalmodule.layout-1 .journal .tinythumb,.journalmodule.module-width-50 .journal .tinythumb {
    padding: 22% 0
}

.journalmodule.layout-1 .journal .title,.journalmodule.module-width-50 .journal .title {
    font-size: 22px;
    line-height: 28px
}

.journalmodule.layout-1 .journal .summary,.journalmodule.module-width-50 .journal .summary {
    max-height: 70px
}

.journalmodule.layout-2 .journal,.journalmodule.module-width-33 .journal {
    width: 33.333%;
    min-height: 380px
}

.journalmodule.layout-2 .journal .tinythumb,.journalmodule.module-width-33 .journal .tinythumb {
    padding: 27% 0
}

.journalmodule.layout-2 .journal .title,.journalmodule.module-width-33 .journal .title {
    font-size: 22px;
    line-height: 28px
}

.journalmodule.layout-2 .journal .summary,.journalmodule.module-width-33 .journal .summary {
    max-height: 70px
}

.journalmodule.layout-3 .journal,.journalmodule.module-width-25 .journal {
    width: 25%;
    min-height: 340px
}

.journalmodule.layout-3 .journal .tinythumb,.journalmodule.module-width-25 .journal .tinythumb {
    padding: 27% 0
}

.journalmodule.layout-3 .journal .title,.journalmodule.module-width-25 .journal .title {
    font-size: 20px;
    line-height: 24px
}

.journalmodule.layout-3 .journal .summary,.journalmodule.module-width-25 .journal .summary {
    max-height: 70px
}

.journalmodule.layout-4 .journals {
    width: 70%;
    max-height: inherit;
    float: left;
    box-sizing: border-box;
    padding-right: 10px
}

.journalmodule.layout-4 .journals .journal {
    margin-bottom: 40px
}

.journalmodule.layout-4 .journals .journal .preview,.journalmodule.layout-4 .journals .journal .preview-image,.journalmodule.layout-4 .journals .journal .tinythumb {
    width: 100%;
    height: 270px
}

.journalmodule.layout-4 .journals .journal .preview-image {
    box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 0 1px rgba(0,0,0,0.15)
}

.journalmodule.partial .journal {
    width: 100%
}

.today_module_journalfeature .journalmodule .journal {
    width: 100%
}

body.today-page .today_module .journalmodule .artist {
    top: 0
}

.journalportalmodule {
    position: relative
}

.journalportalmodule .journalportal {
    padding-right: 10px
}

.journalportalmodule .journalportal.with-poll {
    margin-right: 320px
}

.journalportalmodule .journalportal .journalportal-more {
    float: right
}

.journalportalmodule .journalportal .header {
    border-bottom: 1px solid #c2cfc1;
    padding-bottom: 10px
}

.journalportalmodule .journalportal .title {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.journalportalmodule .journalportal .portaljournal {
    border-bottom: 1px solid #c2cfc1;
    padding: 10px 0
}

.journalportalmodule .journalportal .avatar {
    width: 25px;
    height: 25px;
    position: relative;
    top: 3px;
    float: left;
    margin-right: 10px
}

.today_module .journalportalmodule .poll {
    width: 300px;
    margin-left: 30px;
    float: right
}

.today_module .poll {
    width: 100%;
    max-width: 600px;
    margin: auto
}

.today_module .poll .header {
    margin: 5px 0
}

.today_module .poll .votable {
    padding: 15px 20px;
    display: block;
    border: 1px solid #c4cec1;
    border-radius: 3px;
    background-color: #dee6db
}

.today_module .poll .vote-item {
    list-style-type: none;
    margin: 5px 0
}

.today_module .poll .vote {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px
}

.today_module .poll .vote a {
    background: #007699;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font: 12px Helvetica Neue,Arial,sans-serif;
    letter-spacing: .5px;
    margin: 8px 0;
    padding: 10px 16px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
    text-transform: uppercase
}

.today_module .poll .vote a:hover {
    background: #0a8dab
}

.today_module .poll .stats {
    float: none;
    display: inline-block;
    vertical-align: sub;
    font-size: 10px
}

.today_module .poll .ctube {
    border-radius: 5px
}

.today-page .overheard .column {
    color: #5e675e;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px
}

.today-page .overheard .column:first-child {
    margin-left: 0
}

.today-page .overheard .box {
    width: 380px;
    margin-bottom: 20px;
    margin-top: 10px
}

.today-page .overheard .box .headline {
    font-size: 15px;
    font-family: 'Trebuchet MS',Arial,Helvetica,sans-serif;
    font-weight: bold;
    letter-spacing: normal;
    padding: 10px
}

.today-page .overheard .box .headline a {
    color: #2c3635
}

.today-page .overheard .box .body {
    padding: 10px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.3);
    border-radius: 4px;
    border: 1px solid #bbc5b6;
    background-color: #dee7db;
    max-height: 400px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden
}

.today-page .overheard .box .artist {
    margin-top: 15px
}

.today-page .overheard .box .artist .username {
    vertical-align: top
}

.today-page .overheard .box .link {
    text-align: right;
    margin: 5px 2px
}

.today-page .today_module_overheard.today_module_support_ad .squareTodayad {
    margin-top: 25px
}

.today-page .today_module_overheard.today_module_support_ad .box {
    width: 400px;
    margin-right: 18px
}

.contestmodule .contest {
    width: 100%;
    margin-top: 40px
}

.contestmodule .challenge {
    display: inline-block;
    margin-top: 40px
}

.contestmodule .challenge:first-of-type {
    margin-right: 1%
}

.contestmodule .challenge:only-child {
    width: 100%;
    margin-right: 0
}

.contestmodule .challenge .tags {
    display: inline
}

.contestmodule .challenge .contestbody {
    width: 590px;
    height: 300px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1)
}

.contestmodule .challenge .journaltext {
    width: 220px;
    float: left;
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.contestmodule .challenge .journaltext .summary {
    line-height: 2
}

.contestmodule .challenge .journaltext .info {
    position: absolute;
    bottom: 20px
}

.contestmodule .challenge .journaltext .stats {
    float: none;
    opacity: .6
}

.contestmodule .challenge .journaltext .stats .commentcount {
    margin-left: 0
}

.contestmodule .challenge .journaltext .artist {
    font-family: Georgia,serif;
    font-style: italic;
    font-size: 12px;
    opacity: .6
}

.contestmodule .challenge .preview {
    position: relative;
    margin: 0;
    margin-left: 220px
}

.contestmodule .challenge .preview .thumb,.contestmodule .challenge .preview .tinythumb {
    margin: 0;
    width: 100%;
    height: 300px;
    box-shadow: none
}

.contestmodule .contest-header {
    text-transform: uppercase;
    font-weight: bold;
    color: #8c9a88;
    font-size: 10px
}

.contestmodule h1.header {
    margin: 10px 0 23px
}

.contest-layout-3 .contest {
    width: 49%
}

.contest-layout-3 .contest:first-of-type {
    margin-right: 2%
}

.contest-layout-3 .contest:last-of-type {
    width: 100%
}

.contest-layout-2 .contest {
    width: 49%
}

.contest-layout-2 .contest:first-of-type {
    margin-right: 2%
}

.contest-layout-1 .contest {
    width: 100%
}

.today-page .critiques {
    margin: 20px auto
}

.today-page .critique_box:first-child {
    padding-left: 0
}

.today-page .critique_box {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    padding-left: 3%;
    box-sizing: border-box
}

.today-page .critique_box .critique_headline {
    margin: 5px 0;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden
}

.today-page .critique_box .critique_headline a.critique_headline_link {
    font-size: 18pt;
    color: #2c3635
}

.today-page .critique_box .critique_headline a.critique_headline_link:hover {
    color: #337287
}

.today-page .critique_box .critique_body .deviation {
    max-height: 250px
}

.today-page .critique_box .critique_body .deviation .tt-crop,.today-page .critique_box .critique_body .deviation .tinythumb,.today-page .critique_box .critique_body .deviation .tt-crop-lit a {
    width: 100%;
    height: 250px
}

.today-page .critique_box .critique_body .deviation .tinythumb {
    background-position: 50% 25%
}

.today-page .critique_box .critique_body .deviation .tt-crop,.today-page .critique_box .critique_body .deviation .tt-crop-lit a {
    border-radius: 2px
}

.today-page .critique_box .critique_body .deviation .tt-crop-lit .fave-stat {
    display: block
}

.today-page .critique_box .critique_body .deviation .tt-crop-lit strong:first-child {
    display: none
}

.today-page .critique_box .critique_body .deviation .tt-crop-lit q {
    padding: 10px;
    font-size: 13px;
    width: 330px;
    white-space: normal;
    line-height: 1.5em
}

.today-page .critique_box .critique_body .author {
    margin-top: 30px;
    font-size: 10pt
}

.today-page .critique_box .critique_body .author .username {
    color: #6a7f6d
}

.today-page .critique_box .critique_body .stars {
    margin-top: 8px;
    margin-left: -3px;
    font-family: 'feedfont';
    color: #e95447;
    font-size: 16px
}

.today-page .critique_box .critique_body .body {
    margin-top: 6px;
    max-height: 190px;
    white-space: normal;
    line-height: 1.8em;
    overflow: hidden;
    position: relative
}

.today-page .critique_box .critique_body .body .fade-out-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 1.8em;
    background: linear-gradient(to right, rgba(212,223,208,0), rgba(212,223,208,0.75) 50%, #d4dfd0);
    pointer-events: none
}

.today-page .critique_box .critique_link {
    margin-top: 15px;
    text-align: right
}

.today-page .more_critiques .headline {
    margin: 30px 0 0 0;
    font-size: 12px
}

.today-page .more_critiques .critiqueables {
    overflow: hidden;
    max-height: 110px;
    margin-top: 0
}

.today-page .more_critiques .critiqueables .tt-crop {
    display: inline-block;
    margin-left: 12px
}

.today-page .more_critiques .critiqueables .tt-crop:first-child {
    margin-left: 0
}

.today-page .more_critiques .critiqueables .tt-crop-lit {
    white-space: normal;
    line-height: 1.2em
}

body.today-page .bubbleview .today_module_resources .title a {
    color: #000
}

.today_module.today_module_resources .journals {
    margin-top: 40px;
    overflow: hidden
}

.today_module.today_module_resources .journals .journal {
    width: 48%;
    margin-right: 2%;
    float: left
}

.today_module.today_module_resources .journal .journalcontent {
    height: 280px;
    box-shadow: 0 1px 2px 1px #c2cac0;
    border-radius: 5px
}

.today_module.today_module_resources .journal .journaltext,.today_module.today_module_resources .journal .preview {
    height: 100%
}

.today_module.today_module_resources .journal .title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 15px;
    letter-spacing: -1px
}

.today_module.today_module_resources .journal .artist {
    font-style: italic
}

.today_module.today_module_resources .journal .preview {
    width: 60%;
    float: left
}

.today_module.today_module_resources .journal .tinythumb,.today_module.today_module_resources .journal .preview-image {
    width: 100%;
    height: 100%
}

.today_module.today_module_resources .journal .tinythumb {
    border-radius: 0 5px 5px 0
}

.today_module.today_module_resources .journal .journaltext {
    width: 40%;
    border-radius: 5px 0 0 5px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    float: left
}

.today_module.today_module_resources .journal .journaltext .summary {
    line-height: 27px;
    height: 100%
}

.today_module.today_module_resources .journal .journaltext .summary a {
    color: inherit;
    text-decoration: underline
}

.today_module.today_module_resources .journal .journaltext .info {
    position: absolute;
    bottom: 25px;
    color: rgba(255,255,255,0.8)
}

.today_module.today_module_resources .journal .journaltext .info .stats {
    position: relative;
    left: -8px;
    top: 5px;
    color: rgba(255,255,255,0.8)
}

.today_module.today_module_resources .journal .journaltext .info .artist .username {
    color: rgba(255,255,255,0.8)
}

.today_module.today_module_resources .youtube-video {
    margin-top: 40px
}

.today_module.today_module_resources .youtube-video .title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px
}

.today_module.today_module_resources .youtube-video .summary {
    font-size: 12px;
    line-height: 22px
}

.today_module.today_module_resources .youtube-video .daembed {
    margin: auto;
    margin-top: 20px;
    width: 853px;
    display: block
}

.today_module.today_module_resources .squareTodayad {
    margin-top: 20px
}

div.resources-module-config input.color {
    width: 100px
}

div.resources-module-config .youtube-form input,div.resources-module-config .youtube-form textarea,div.resources-module-config .youtube-form div {
    width: 75%
}

.freeformmodule .freeform {
    width: 100%;
    margin-top: 40px
}

.freeformmodule .tags {
    display: inline
}

.freeformmodule .text {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.freeformmodule .text .summary {
    line-height: 2
}

.freeformmodule .text .info {
    position: absolute;
    bottom: 20px
}

.freeformmodule .text .stats {
    float: none;
    opacity: .6
}

.freeformmodule .text .stats .commentcount {
    margin-left: 0
}

.freeformmodule .text .artist {
    font-family: Georgia,serif;
    font-style: italic;
    font-size: 12px;
    opacity: .6
}

.freeformmodule .preview {
    position: relative;
    margin: 0;
    margin-left: 220px
}

.freeformmodule .preview .thumb,.freeformmodule .preview .tinythumb {
    margin: 0;
    width: 100%;
    height: 300px;
    box-shadow: none
}

.freeformmodule .freeform-header {
    text-transform: uppercase;
    font-weight: bold;
    color: #8c9a88;
    font-size: 10px
}

.freeformmodule h1.header {
    margin: 10px 0 23px
}

.cardmodule:first-of-type {
    margin-right: 1%
}

.cardmodule:only-child {
    width: 100%;
    margin-right: 0
}

.cardmodule .tags {
    display: inline
}

.cardmodule .cardheader {
    text-transform: uppercase;
    font-weight: bold;
    color: #8c9a88;
    font-size: 10px
}

.cardmodule .cardbody {
    width: 100%;
    height: 300px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1)
}

.cardmodule .journaltext {
    width: 26%;
    float: left;
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.cardmodule .journaltext .summary {
    line-height: 2
}

.cardmodule .journaltext .info {
    position: absolute;
    bottom: 20px
}

.cardmodule .journaltext .stats {
    float: none;
    opacity: .6
}

.cardmodule .journaltext .stats .commentcount {
    margin-left: 0
}

.cardmodule .journaltext .artist {
    font-family: Georgia,serif;
    font-style: italic;
    font-size: 12px;
    opacity: .6
}

.cardmodule .preview {
    position: relative;
    margin: 0;
    margin-left: 26%
}

.cardmodule .preview .thumb,.cardmodule .preview .tinythumb {
    margin: 0;
    width: 100%;
    height: 300px;
    box-shadow: none
}

/*
     FILE ARCHIVED ON 06:10:46 Dec 01, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:32:57 Aug 04, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.699
  exclusion.robots: 0.033
  exclusion.robots.policy: 0.014
  esindex: 0.016
  cdx.remote: 102.248
  LoadShardBlock: 49.729 (3)
  PetaboxLoader3.datanode: 87.845 (5)
  load_resource: 246.537 (2)
  PetaboxLoader3.resolve: 127.083 (2)
*/
